<% include ../partials/header.ejs %>

    <header>
        <div class="container mt-3" style="margin: auto;">
            <div class="jumbotron walk_jumb shadow">
                <div class="container">
                        <h2 class="pageone" style="margin-top: 1rem; padding-bottom: 0; color: #41533b;">
                            <i class="fas fa-tree fa-2x"></i><i class="fas fa-utensils fa-2x"></i>
                            <div style="text-shadow: 2px 4px 3px rgba(68, 83 , 59, 0.3);">
                                Peaky Blogger's guide to Food and Adventure
                            </div>
                        </h2>
                        <p style="color: #41533b; text-align: center;">Look no further than the home hub, for all your walking and eating needs</p>
                        <br>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <section class="top-container">
            <header class="showcase">
                <h1>Pubs and restaurants in the Peak District<h1>
                <p>My Blogs and Experiences</p>
                <a href="/walks" class="btn work">Look for them here</a>
            </header>
            <div class="top-box top-box-a">
                <p class="hh4">Favourite areas of the Peak District</p>
                <p class="price">Places and Walks</p>
                <a href="#" class="btn work">More info</a>
            </div>
            <div class="top-box top-box-b">
                <p class="hh3">Gallery</p>
                <p class="price"></p>
                <a href="/gallery" class="btn work">Look for them here</a>
            </div>
        </section><br>

            <!-- boxes section-->
        <section class="boxes">
            <div class="box">
                <i class="fas fa-tint fa-3x"></i><i class="far fa-sun fa-3x"></i>
                <p class="hh4">Rain / Sun</p>
                <p class="hh6">Eat and walk where you would like to</p>
                <a href="/about" class="btn">About</a>
            </div>
            <div class="box">
                <i class="fas fa-atlas fa-3x"></i>
                <p class="hh5">Interesting Events Locally / Peak District</p>
                <p class="hh6">Most of the places I'll be going to eat are in the Peak District</p>
            </div>
            <div class="box">
                <i class="fab fa-youtube fa-3x"></i>
                <p class="hh4">vlog / YouTube</p>
                <p class="hh6">Some of my vlogs from my walks</p>
                <a href="https://www.youtube.com/user/DavidBattye" class="btn">vlog</a>
            </div>
            <div class="box">
                <i class="fas fa-envelope fa-3x"></i>
                <p class="hh4">Contact Me</p>
                <p class="hh6">Click here to send me a message</p>
                <a href="/contact" class="btn"></a>
            </div>
        </section><br>

        <section class="info">
            <img src="images/studland_building_pb_villa.jpg">
            <p class="hh2">My current favourite places to eat</p><br>
            <p>Some of my best experiences</p>
            <a href="#" class="btn work">More Info</a>
        </section><br>

        <article>

        </article>
        
        <aside>
            <div class="container-lg row">
                <div class="card col-md-6">
                    <img class="card-img-top pt-2" src="images/pdnpa-map.jpg" >
                    <div class="card-body" style="padding-bottom: 1rem;">
                        <h6 class="card-title">Peak District Map sourced from</h6>
                        <a href="http://www.peakdistrict.gov.uk/visiting/maps/pdmap" class="btn woodlandgreen">P-D National Park</a>
                    </div>
                </div>
                <div class="card col-md-6">
                    <img class="card-img-top pt-2" src="images/english_combine_harvester.jpeg" >
                    <div class="card-body" style="padding-bottom: 1rem;">
                        <h6 class="card-title">Or just want a lazy pub day?</h6>
                        <a href=# class="btn woodlandgreen">Lazy Days</a>
                    </div>
                </div>
            </div>
        </aside>
    </div>

<% include ../partials/footer.ejs %>  