<% include ../partials/header.ejs %>

<main style="background-color: #dad2c5;">
    <header>
        <div class="container" style="margin: auto;">
            <div class="jumbotron" id="jumbotron" style="box-shadow: 0 2px 4px 0px rgba(68, 83 , 59, 0.3);">
                <div class="container">
                    <h1 class="pageone" style="margin-top: 1rem; padding-bottom: 0; color: #41533b;">
                        <div class="row">
                            <div><i class="fas fa-tree fa-2x"></i><i class="fas fa-utensils fa-2x"></i></div>
                            <div><p style="text-shadow: 2px 4px 3px rgba(68, 83 , 59, 0.3);">&ensp; .  .  . New Blog Master</p></div>
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </header>
   
    <div class="container" style="padding-bottom: 5rem;">
        <h2 style="text-align: center;"> Fill in the details below </h2>
        <% if(currentUser && currentUser.isAdmin){ %>
            <div style="width: 40%; margin: 25px auto;">
                <form action="/walks" method="POST" enctype="multipart/form-data"> <!--changed-->
                    <div class="form-group"> <!-- Gives space around parts of the form -->
                        <input class="form-control" type="text" name="name" placeholder="name please">
                    </div>
                    <!--<div class="form-group">
                        <input class="form-control" type="text" name="image" placeholder="image url">
                    </div> -->
                    <div class="form-group">
                        <div class="input-group">
                                <label class="custom-file-label" for="image">Choose photo</label>
                                <input type="file" id="image" name="image" accept="image/*" class="custom-file-input" required> 
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="description" placeholder="overall description">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="journey" placeholder="describe your walk">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="foodplace" placeholder="describe your food">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="opinion" placeholder="overall opinion?">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="url" placeholder="copy the url, start www...">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-block" id="addnewbutton">Submit!</button>
                    </div>
                </form>
            </div>
        <% } else { %>
            <a class="btn btn-block" href="/walks">How did you get here? Only one thing for you</a>
        <% } %>
        <a href="/walks">Go back</a>
    </div>
</main>

<% include ../partials/footer.ejs %>