<% include partials/header %>

<!--<main style="background-image: url('images/background2.jpg'); background-size: cover; padding-top: 2.5rem;"> -->
    <header>
        <div class="container" style="margin: 0 auto; padding-top: 0;">
            <div class="jumbotron" id="jumbotron" style="box-shadow: 0 2px 4px 0px rgba(68, 83 , 59, 0.3);">
                <div class="container">
                        <h1 class="pageone" style="padding-top: 2.5rem; padding-bottom: 0; margin:auto; color: #41533b;"> 
                            <i class="fas fa-tree fa-2x"></i><i class="fas fa-utensils fa-2x"></i>
                            <div>Something about my site, myself and my forthcoming adventures</div>
                        </h1>
                        <p style="text-align: center;">Might have built it up a little too much there..</p>
                </div>
            </div>
        </div>
    </header>
    <div class="container about" style="color: #41533b;">
        <div class="container-lg">
            <section class="wrappery">
                <div class="boxy aa">
                    <div>
                        <p>There are loads of websites giving routes and (downloadable) maps and the detail they give is far and beyond what I could give you nor is it what I want to do in this blog. </p> <br>
                        <p>They are many years ahead of me in that respect. My first thought in setting this up was to give those weary travellers on foot a nice spot to have lunch with some good views. </p>
                    </div>
                </div>
                <div class="boxy bb">
                    <p>Picture of Dad in his glory</p>
                </div>
                <div class="boxy cc">
                    <p>Since then I’ve thought that I could add a few more features because we have all got different reasons for going on a walk.</p>
                </div>
                <div class="boxy dd">
                    <div>
                        <p>This web site is aimed at giving you some idea of where the best places to eat are in the Peak District. </p>
                    </div>
                </div>
                <div class="boxy ee">
                    <p>I’ll also give you an idea where some of the best walks are but I’m not going to give you a route map  just general directions, a bit of description and a few photos taken in all weathers</p>
                </div>
                <div class="boxy ff">
                    <p>Born: 20th Century</p>
                    <p>Raised: Yorkshire</p>
                    <p>Educated: Honley Grammar, then UCL</p>
                    <p>Currently resides: O'er the hills and far away</p>
                </div>
            </div>
        </div>
    </div>
    
<!--</main> -->



<% include partials/footer %>