<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eating & Walking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/contact.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info" id="nav">
        <a class="navbar-brand" href="/"><i class="fas fa-tree fa-2x"></i><i class="fas fa-utensils fa-2x"></i> Peaky Blogger's</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.peakdistrict.gov.uk/">Peak District National Park</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <form action="/walks" method="GET" class="form-inline my-2 my-sm-0">
                        <div class="form-group">
                            <input type="text" class="form-control mr-sm-2" style="width: 15rem;" placeholder="Search" aria-label="Search">
                            <input type="submit" class="btn" value="Search">
                        </div>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    JDB's stuff
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if (!currentUser) { %>
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/register">Sign Up</a>
                        <% } else { %>
                            <p>&emsp; Signed in as <%= currentUser.username %></p>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        <% } %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://www.rohan.co.uk/">Rohan Outdoor Wear</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/walks">Walks & Blogs</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <section>
            <div class="container-lg">
                <div class="container" id="landing1">
                    <div class="jumbotron shadow" id="landing-img1">
                        <h3 style="margin: 3rem 0 1rem 0; text-align: center;"><i class="fas fa-tree fa-2x"></i><i class="fas fa-utensils fa-2x"></i> Contact Peaky Blogger</h3>
                        <h5 style="text-align: center;">Any contact details you might like to have</h5>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="container-lg">
                <div class="wrapper">
                    <div class="box a">
                        <p>
                            <i class="fas fa-cloud-sun fa-2x"></i>
                            <i class="fas fa-hiking fa-2x"></i>
                            <i class="fas fa-tree fa-2x"></i>
                            <i class="fas fa-utensils fa-2x"></i> 
                            <i class="fas fa-cloud-moon fa-2x"></i>
                            <i class="fas fa-campground fa-2x"></i>
                        </p>
                        <p>can be found adventuring around the village of Repton, the Peak District, Derbyshire, Yorkshire and occasionally Aberdeenshire</p>
                    </div>
                    <div class="box b">
                        <p><i class="fas fa-laptop fa-2x"></i></p>
                        <a href="/contact/contactform">Email Me</a>
                        Please click the above link to send me an email</p>
                    </div>
                    <div class="box c"><p>Send a carrier pigeon</p> <i class="fas fa-dove fa-2x"></i><h6>(please don't)</h6> </div>
                    <div class="box d">If you have any complaints about the website, please write them all down and then throw them away. This is a place for walking and food, there simply isn't time for complaints</div>
                    <div class="box e"><br><br><a href="/walks"><i class="fab fa-pagelines fa-2x"></i></a></div>
                    <div class="box f">
                        <a href="https://www.facebook.com/john.d.battye">FaceBook <i class="fab fa-facebook-square fa-2x"></i>  </a>
                        <a href="https://www.instagram.com/jdbttye9/"> Instagram <i class="fab fa-instagram fa-2x"></i>  </a>
                        <a href="https://twitter.com/@jdbattye"> Twitter <i class="fab fa-twitter fa-2x"></i>  </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer" id="footer">
        <div class="container">
            <p class="text-muted canter">&copy; Peaky Blogger 2018 |  
                <a href="/home">Home</a> | 
                <a href="/about">About</a> | 
                <a href="#">Favourite Eating Spots</a> | 
                <a href="#">Favourite Walks</a> |
                <a href="https://www.youtube.com/user/DavidBattye">Vlogs</a> |
                <a href="/contact">Contact Me</a>
            </p>>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>