<% include partials/header %>

    <header>
        <div class="container" style="margin: auto;">
            <div class="jumbotron walk_jumb" style="box-shadow:0 2px 4px 0px rgba(68, 83 , 59, 0.3);">
                <div class="container">
                    <h2 class="pageone" style="margin-top: 1rem; padding-bottom: 0; color: #41533b;">
                        <i class="fas fa-tree fa-2x"></i><i class="fas fa-utensils fa-2x"></i>
                        <div style="text-shadow: 2px 4px 3px rgba(68, 83 , 59, 0.3);">
                            Gallery
                        </div>
                    </h2>
                    <p style="color: #41533b; text-align: center;">The pictures of Peaky Blogger</p>
                    <br>
                </div>
            </div>
        </div>
    </header>

    <div class="container" style="padding-bottom: 5rem;">
        <h2 style="text-align: center;"> Fill in the details below </h2>
        <% if(currentUser && currentUser.isAdmin){ %>
            <div style="width: 75%; margin: 25px auto;">
                <form action="/walks" method="POST" enctype="multipart/form-data"> <!--changed-->
                    <div class="form-group"> <!-- Gives space around parts of the form -->
                        <input class="form-control" type="text" name="name" placeholder="name of the walk please">
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                                <label class="custom-file-label" for="image">Choose photo</label>
                                <input type="file" id="image" name="image" accept="image/*" class="custom-file-input" required> 
                        </div>
                        <div class="input-group">
                                <label class="custom-file-label" for="image">Choose photo</label>
                                <input type="file" id="image" name="image" accept="image/*" class="custom-file-input" required> 
                        </div>
                        <div class="input-group">
                                <label class="custom-file-label" for="image">Choose photo</label>
                                <input type="file" id="image" name="image" accept="image/*" class="custom-file-input" required> 
                        </div>
                        <div class="input-group">
                                <label class="custom-file-label" for="image">Choose photo</label>
                                <input type="file" id="image" name="image" accept="image/*" class="custom-file-input" required> 
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-block" id="addnewbutton">Submit!</button>
                    </div>
                </form>
            </div>
        <% } else { %>
            <a class="btn btn-block" href="/gallery">How did you get here? Only one thing for you</a>
        <% } %>
        <a href="/gallery">Go back</a>
    </div>


<% include partials/footer %>