body{
color: #41533b;
line-height:1.6;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#email {
background-image: url('/images/background2.jpg');
background-size: cover;
background-repeat: no-repeat;
}

.wrapper{
box-shadow: 0 3px 4px 2px rgba(68, 83 , 59, 0.3);
}

.shadow {
    color: #41533b;
    text-shadow: 2px 4px 3px rgba(68, 83 , 59, 0.3);
    box-shadow: 0 2px 4px 0px rgba(68, 83 , 59, 0.3);
}

#nav {
    position: fixed;
    z-index: 100;
    opacity: 0.8;
    width: 100%;
    color: #41533b;
}

#footer {
    position: relative;
    margin-top: 0rem;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background: #e8e8e8;
}


/* LARGE SCREENS */
@media(min-width:700px){
.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

}