body {
    background-image: url('/images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


main {
    padding-bottom: 15rem;
}

.shadow {
    color: #41533b;
    text-shadow: 2px 4px 3px rgba(68, 83 , 59, 0.3);
    box-shadow: 0 2px 4px 0px rgba(68, 83 , 59, 0.3);
}

#nav {
    position: fixed;
    z-index: 100;
    opacity: 0.75;
    width: 100%;
}

#addlandbutton {
    background-color: #41533b;
}

#landing-img1 {
    background-image: url('/images/landing.jpg');
    text-align: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

#landing1 {
    padding: 10vh 0 5vh 0;
    z-index: 0;
    position: relative;
}

#landing-img2 {
    height: 20vh;
    padding-bottom: 0;
    height: 5rem;
    padding: 7rem 0 0 0;

}

#landing2 {
    width: 50%;
    z-index: 0;
    position: relative;
    text-align: center;
}

#footer {
    position: absolute;
    margin-top: 0;
    padding-top: 0;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background: #e8e8e8;
}



/* media */

/* 
  ##Device = Desktops */
  @media (min-width: 1281px) {
 
}

/*  ##Device = Laptops, Desktops  */
@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* ##Device = Tablets, Ipads (portrait)  */
@media (min-width: 768px) and (max-width: 1024px) {


}

/* ##Device = Tablets, Ipads (landscape)  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) */

@media (min-width: 481px) and (max-width: 767px) {
    .container,
    #landing1,
    #landing2,
    footer {
        display: block;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}

/*  ##Device = Most of the Smartphones Mobiles (Portrait) */

@media (min-width: 320px) and (max-width: 480px) {
    .container,
    #landing1,
    #landing2,
    footer {
        display: block;
        padding: 1rem;
        margin-bottom: 1rem;
    }

  
}

@media (min-width: 200px) and (max-width: 319px){

}
