html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    padding: auto;
    font-size: 100%;
}


body{
    margin: 0;
    line-height: 1.4;
    padding-bottom: 0;
    margin-bottom: 0;
    background-image: url('/images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/*main {
    margin-bottom: 0;
    background-image: url('/images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}*/

img{
    max-width: 100%;
}

/*p {
    text-align: center;
}*/

a {
    max-width: 100%;
}

nav ul a {
    color: #41533b;
}


#one {
   background-color: #41533b;
}

#nav {
    position: relative;
    z-index: 100;
    opacity: 0.88;
    width: 100%; /* removed height */
    color: #41533b;
    font-weight: bold;
}

#bold {
    font-weight: bold;
}

#deleteform {
    display: inline-block;
}

.walk_jumb {
    background-image: url('/images/english_sillhouette.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

.hh1 {
    font-size: 3.5rem;
}
.hh2 {
    font-size: 3rem;
}
.hh3 {
    font-size: 2.5rem;
}
.hh4 {
    font-size: 2rem;
}
.hh5 {
    font-size: 1.5rem;
}
.hh6 {
    font-size: 1.25rem;
}


.work {
    font-family: 'Work Sans', cursive;
}

.pageone {
    font-weight: 600;
    font-size: 35px;
    color: #3f3e3e;
    padding: 1rem 0;
}

.wj {
    margin: auto;
    color: #41533b;
}

.tsw {
    text-shadow: 2px 4px 3px rgba(68, 83 , 59, 0.3);
}

.h6w {
    text-align: center;
    color: #41533b;
    padding-bottom: 1.75rem;
}

.wp1 {
    text-align: center;
    margin: 2rem 0 0 0;
}

.c1 {
    margin: 0.5rem 0;
    background-color: #e6ebe6;
}

.wp2 {
    padding-bottom: 1rem;
    margin-bottom: 0;
    text-align: left;
}

.img1 {
    /* position: relative; */
    background-position: center;
    height: 100%;
    width: 100%;
    margin: -0.5rem 0 -1.25rem 0;
    padding: 1rem 1rem 0 0;
}

/* CSS variables, can use throughout css */
:root{
    --primary: #ddd;
    --dark: #778899;
    --light: #f7f9fb;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0);
}

.shadow {
    color: #41533b;
    text-shadow: 2px 4px 3px rgba(68, 83 , 59, 0.3);
    box-shadow: 0 2px 4px 0px rgba(68, 83 , 59, 0.3);
}


.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.highlight, li:hover, a:hover, .current a, #one:hover{
	color: #3aafa9;
}

.woodlandgreen {
    background-color: #41533b;  
}

.back {
    background-image: url('/images/english_combine_harvester.jpeg');
}

.wrapper{
    display: grid;
    grid-gap: 10px;
}

/* Top container  */
.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
    padding-top: 10px;
    font-family: 'Arial', cursive;
    color: #41533b;
    text-shadow: 2px 4px 3px rgba(68, 83 , 59, 0.3);
    box-shadow: 0 2px 4px 0px rgba(68, 83 , 59, 0.3);
}

.top-container a {
    background-color: #41533b;
}

/* showcase */
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url('/images/beer_barrel.jpg');
    background-size: cover;
    background-position: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0 2px 4px 1px rgba(68, 83 , 59, 0.3);
}

.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--light);
}

/* top box */

.top-box{
    background: #ddd;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
    border-radius: 7px;
    color: var(--light);
    box-shadow: 0 2px 4px 0px rgba(68, 83 , 59, 0.3);
}

.top-box .price{
    font-size: 2.5rem;
}

.top-box-a{
    grid-area: top-box-a;
    background: url('/images/dad_photo1.jpg');
    background-size: cover;
}

.top-box-b{
    grid-area: top-box-b;
    background: url('/images/inside_pub_peak1.jpg');
    background-size: cover;
}

.fas fa{
    color: #3aafa9;
}
/* boxes */
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    color: #41533b;
}

.box{
    background: #f8f8ff;
    text-align: center;
    padding: 1.5rem;
    box-shadow: var(--shadow);
    border-radius: 7px;
    box-shadow: 0 2px 4px 0px rgba(68, 83 , 59, 0.3);
}

.box a {
    background-color: #41533b;
}

/* info */
.info{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    font-family: 'Arial', cursive;
    color: #41533b;
    box-shadow: 0 2px 4px 0px rgba(68, 83 , 59, 0.3);
}

.about {
    box-sizing: border-box;
}
/* portfolio */
.portfolio{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 
    minmax(200px, 1fr));
}

.portfolio img{
    width: 100%;
    box-shadow: var(--varshadow);
}

.card-body a {
    background-color: #41533b;
}

.wrappery{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'a a b'
    'a a c'
    'd e f';
    padding-top: 10px;
    font-family: 'Work Sans', cursive;
    color: #41533b;
}
.boxy {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #41533b;
    color: #fff;
    border-radius: 5px;
    padding-bottom: 1rem;
    font-size: 125%;
    opacity: 0.88;
    box-shadow: 0 3px 4px 2px rgba(68, 83 , 59, 0.3);
}

.aa {
    grid-area: a;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
   
}
.bb {
    grid-area: b;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}  
.cc {
    grid-area: c;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.dd {
    grid-area: d;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.ee {
    grid-area: e;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.ff {
    grid-area: f;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.footer {
    position: relative;
    margin-bottom: 0rem;
    margin-top: 5rem; /* added later  */
    left: 0;
    bottom: 0;
    height: 4rem;
    width: 100%;
    background: #e8e8e8;
}


/* media */

/* 
  ##Device = Desktops */
@media (min-width: 1281px) {
 
  }
  
  /*  ##Device = Laptops, Desktops  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
  
    
  }
  
  /* ##Device = Tablets, Ipads (portrait)  */
  @media (min-width: 768px) and (max-width: 1024px) {

    .boxes{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(127px, 1fr));
        color: #41533b;
    }

    .hh1 {
        font-size: 3rem;
    }
    .hh2 {
        font-size: 2.5rem;
    }
    .hh3 {
        font-size: rem;
    }
    .hh4 {
        font-size: 2rem;
    }
    .hh5 {
        font-size: 1.5rem;
    }
    .hh6 {
        font-size: 1.25rem;
    }
 
  }
  
  /* ##Device = Tablets, Ipads (landscape)  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .boxes{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(127px, 1fr));
        color: #41533b;
    }

    
    .hh1 {
        font-size: 3rem;
    }
    .hh2 {
        font-size: 2.5rem;
    }
    .hh3 {
        font-size: rem;
    }
    .hh4 {
        font-size: 2rem;
    }
    .hh5 {
        font-size: 1.5rem;
    }
    .hh6 {
        font-size: 1.25rem;
    }
  }
  
  /* ##Device = Low Resolution Tablets, Mobiles (Landscape) */
  
  @media (min-width: 481px) and (max-width: 767px) {

    .container,
    .top-container,
    nav ul,
    .showcase,
    .top-box {
        display: block;
        margin-bottom: 1rem;
    }

    .boxes{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(127px, 1fr));
        color: #41533b;
    }

    .box {
        display: block;
        padding-bottom: 1rem;
    }

    .wrapper, .wrappery, .boxy {
        display: block;
        margin-bottom: 10px;
    }

    nav {
        padding-bottom: 1rem 0;
    }

    .footer{
		display: inline-block;
        padding-top: 10px;
        margin-bottom: -5rem;
    }

    .showcase h1{
        font-size: 2.5rem;
    }
    
    .hh1 {
        font-size: 2rem;
    }
    .hh2 {
        font-size: 1.5rem;
    }
    .hh3 {
        font-size: rem;
    }
    .hh4 {
        font-size: 1.25rem;
    }
    .hh5 {
        font-size: 1.125rem;
    }
    .hh6 {
        font-size: 1rem;
    }
    
  }
  
  /*  ##Device = Most of the Smartphones Mobiles (Portrait) */
  
  @media (min-width: 320px) and (max-width: 480px) {
    a .btn {
        font-size: 0.5rem;
    }
    .container,
    .top-container,
    nav ul,
    .showcase,
    .top-box {
        display: block;
        margin-bottom: 1rem;
    }

    .boxes{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(127px, 1fr));
        color: #41533b;
    }

    .box {
        display: block;
        padding-bottom: 1rem;
    }

    .wrapper, .wrappery, .boxy {
        display: block;
        margin-bottom: 10px;
    }
    
    .footer{
		display: block;
        padding-top: 10px;
        margin-bottom: 0rem;
    }

    .showcase h1{
        font-size: 2.5rem;
    }
    
    .hh1 {
        font-size: 2rem;
    }
    .hh2 {
        font-size: 1.5rem;
    }
    .hh3 {
        font-size: rem;
    }
    .hh4 {
        font-size: 1.25rem;
    }
    .hh5 {
        font-size: 1.125rem;
    }
    .hh6 {
        font-size: 1rem;
    }


  }

  @media (min-width: 200px) and (max-width: 319px){

  }























